name: Inject

on:
  workflow_dispatch:

jobs:
  build:
    name: Build project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Develocity
        uses: gradle/develocity-actions/setup-maven@f957f34fd4c5f85bcc7ef1c74fa84734807084a0
        with:
          develocity-injection-enabled: true
          develocity-url: 'https://dv-helm-standalone-unstable-release.grdev.net'
          develocity-maven-extension-version: 2.3
      - name: Build
        run: mvn clean install
